@font-face {
  font-family: 'AltCarbBrasil';
  src: url('/Fontes/AltCarbBrasil.eot');
  src: url('/Fontes/AltCarbBrasil.woff2') format('woff2'),
       url('/Fontes/AltCarbBrasil.woff') format('woff'),
       url('/Fontes/AltCarbBrasil.ttf') format('truetype'),
       url('/Fontes/AltCarbBrasil.svg#AltCarbBrasil') format('svg'),
       url('/Fontes/AltCarbBrasil.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lino-text';
  src: url('/Fontes/Linotext.eot');
  src: url('/Fontes/Linotext.woff2') format('woff2'),
       url('/Fontes/Linotext.woff') format('woff'),
       url('/Fontes/Linotext.ttf') format('truetype'),
       url('/Fontes/Linotext.svg#Linotext') format('svg'),
       url('/Fontes/Linotext.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EthnocentricW00-ExtraLight';
  src: url('/Fontes/EthnocentricW00-ExtraLight.eot');
  src: url('/Fontes/EthnocentricW00-ExtraLight.woff2') format('woff2'),
       url('/Fontes/EthnocentricW00-ExtraLight.woff') format('woff'),
       url('/Fontes/EthnocentricW00-ExtraLight.ttf') format('truetype'),
       url('/Fontes/EthnocentricW00-ExtraLight.svg#EthnocentricW00-ExtraLight') format('svg'),
       url('/Fontes/EthnocentricW00-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


